<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/main/animate.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/main/style.min862f.css}" rel="stylesheet"/>
</head>

<body class="gray-bg">
    <div class="row  border-bottom white-bg dashboard-header">
        <div class="col-sm-12">
            <h2>Daffodil（达佛）基础管理平台 <span class="label label-warning">免费开源</span></h2>
            <p>本人出生地水仙花之都【<a href="http://www.zhangzhou.gov.cn/" target="_blank">漳州</a>】，Daffodil英文翻译意思是水仙花，本人有比较佛系且Daffodil音含 [ 达佛 ] 于是就叫“达佛基础管理平台”</p>
            <p>系统基础包括：用户管理、角色管理、部门管理、岗位管理、权限管理、菜单管理、字典管理、约束管理、参数配置、通知公告、日志管理、工作流管理、任务管理、流程演示、系统监控等模块...</p>
        </div>
        <div class="col-sm-12">
        	<h4>郑重声明：</h4>
        	<p>本系统仅作为学习目的，不作为商业目的。若使用本系统作为商业使用，所产生的一切不良后果请自负。</p>
        </div>
        <div class="col-sm-4">
            <h4>应用技术：</h4>
            <ol>
                <li>核心框架：Spring Boot。</li>
                <li>安全框架：Apache Shiro。</li>
                <li>持久层框架：SpingDataJpa。</li>
                <li>模板引擎：Thymeleaf。</li>
                <li>前端技术：bootstrap、layui、fontawesome等。</li>
            </ol>
        </div>
        <div class="col-sm-4">
            <h4>码云地址：</h4>
            <a href="https://gitee.com/weijiang_admin/daffodil" target="_blank" >https://gitee.com/weijiang_admin/daffodil</a>
        </div>
    </div>
</body>
</html>
